@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background: #dedede;
    }
    .page-wrap {
        min-height: 100vh;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry...please check back in just a moment. If you are tyring to process an order, we reccomend you call Support team.
                </div>
            </div>
        </div>
    </div>
</div>