@model List<LuckySpin.Models.Game.Voucher>
@{
    ViewBag.Title = "Lucky Spin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3" style="min-height: 524px;">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    @if (Model.Count == 0)
    {
        <div class="col-sm-12 col-md-12 mb-3">
            There is no voucher available.
        </div>
    }
    else
    {
        foreach (var voucher in Model)
        {
            <div class="col-sm-6 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Reference NO. 1234</h5>
                        <p class="card-text"><b>Remaining Spin:</b> @voucher.SpinCount</p>
                        <p class="card-text"><b>Valid Until:</b> @voucher.ExpiryOn</p>
                        @if (voucher.SpinCount > 0)
                        {
                            <a href="/main/game?voucherId=@voucher.Id" class="btn btn-primary">Go Spin</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>